WadaSNR/
.idea/
*.pyc
.DS_Store
./__init__.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# vim
*.swp
*.swm
*.swn
*.swo

# pytorch models
*.pth
*.pth.tar
!dummy_speakers.pth
result/

# setup.py
version.py

# jupyter dummy files
core

# ignore local datasets
recipes/WIP/*
recipes/ljspeech/LJSpeech-1.1/*
recipes/vctk/VCTK/*
recipes/**/*.npy
recipes/**/*.json
VCTK-Corpus-removed-silence/*

# ignore training logs
trainer_*_log.txt

# files used internally for dev, test etc.
tests/outputs/*
tests/train_outputs/*
TODO.txt
.vscode/*
data/*
notebooks/data/*
TTS/tts/utils/monotonic_align/core.c
.vscode-upload.json
temp_build/*
events.out*
old_configs/*
model_importers/*
model_profiling/*
docs/source/TODO/*
.noseids
.dccache
log.txt
umap.png
*.out
SocialMedia.txt
output.wav
tts_output.wav
deps.json
speakers.json
internal/*
*_pitch.npy
*_phoneme.npy
wandb
depot/*
coqui_recipes/*
local_scripts/*
coqui_demos/*
training/Datasets/MIMI_DATASET_22-16/0.wav
training/Datasets/MIMI_DATASET_22-16/1.wav
training/Datasets/MIMI_DATASET_22-16/10.wav
training/Datasets/MIMI_DATASET_22-16/100.wav
training/Datasets/MIMI_DATASET_22-16/101.wav
training/Datasets/MIMI_DATASET_22-16/103.wav
training/Datasets/MIMI_DATASET_22-16/104.wav
training/Datasets/MIMI_DATASET_22-16/105.wav
training/Datasets/MIMI_DATASET_22-16/106.wav
training/Datasets/MIMI_DATASET_22-16/108.wav
training/Datasets/MIMI_DATASET_22-16/109.wav
training/Datasets/MIMI_DATASET_22-16/11.wav
training/Datasets/MIMI_DATASET_22-16/110.wav
training/Datasets/MIMI_DATASET_22-16/112.wav
training/Datasets/MIMI_DATASET_22-16/113.wav
training/Datasets/MIMI_DATASET_22-16/114.wav
training/Datasets/MIMI_DATASET_22-16/115.wav
training/Datasets/MIMI_DATASET_22-16/116.wav
training/Datasets/MIMI_DATASET_22-16/117.wav
training/Datasets/MIMI_DATASET_22-16/118.wav
training/Datasets/MIMI_DATASET_22-16/119.wav
training/Datasets/MIMI_DATASET_22-16/12.wav
training/Datasets/MIMI_DATASET_22-16/120.wav
training/Datasets/MIMI_DATASET_22-16/121.wav
training/Datasets/MIMI_DATASET_22-16/122.wav
training/Datasets/MIMI_DATASET_22-16/123.wav
training/Datasets/MIMI_DATASET_22-16/124.wav
training/Datasets/MIMI_DATASET_22-16/125.wav
training/Datasets/MIMI_DATASET_22-16/126.wav
training/Datasets/MIMI_DATASET_22-16/127.wav
training/Datasets/MIMI_DATASET_22-16/128.wav
training/Datasets/MIMI_DATASET_22-16/129.wav
training/Datasets/MIMI_DATASET_22-16/13.wav
training/Datasets/MIMI_DATASET_22-16/130.wav
training/Datasets/MIMI_DATASET_22-16/131.wav
training/Datasets/MIMI_DATASET_22-16/132.wav
training/Datasets/MIMI_DATASET_22-16/133.wav
training/Datasets/MIMI_DATASET_22-16/134.wav
training/Datasets/MIMI_DATASET_22-16/135.wav
training/Datasets/MIMI_DATASET_22-16/136.wav
training/Datasets/MIMI_DATASET_22-16/137.wav
training/Datasets/MIMI_DATASET_22-16/138.wav
training/Datasets/MIMI_DATASET_22-16/139.wav
training/Datasets/MIMI_DATASET_22-16/14.wav
training/Datasets/MIMI_DATASET_22-16/140.wav
training/Datasets/MIMI_DATASET_22-16/141.wav
training/Datasets/MIMI_DATASET_22-16/142.wav
training/Datasets/MIMI_DATASET_22-16/143.wav
training/Datasets/MIMI_DATASET_22-16/144.wav
training/Datasets/MIMI_DATASET_22-16/145.wav
training/Datasets/MIMI_DATASET_22-16/146.wav
training/Datasets/MIMI_DATASET_22-16/147.wav
training/Datasets/MIMI_DATASET_22-16/148.wav
training/Datasets/MIMI_DATASET_22-16/149.wav
training/Datasets/MIMI_DATASET_22-16/15.wav
training/Datasets/MIMI_DATASET_22-16/150.wav
training/Datasets/MIMI_DATASET_22-16/151.wav
training/Datasets/MIMI_DATASET_22-16/152.wav
training/Datasets/MIMI_DATASET_22-16/153.wav
training/Datasets/MIMI_DATASET_22-16/154.wav
training/Datasets/MIMI_DATASET_22-16/155.wav
training/Datasets/MIMI_DATASET_22-16/156.wav
training/Datasets/MIMI_DATASET_22-16/157.wav
training/Datasets/MIMI_DATASET_22-16/158.wav
training/Datasets/MIMI_DATASET_22-16/159.wav
training/Datasets/MIMI_DATASET_22-16/16.wav
training/Datasets/MIMI_DATASET_22-16/160.wav
training/Datasets/MIMI_DATASET_22-16/161.wav
training/Datasets/MIMI_DATASET_22-16/162.wav
training/Datasets/MIMI_DATASET_22-16/163.wav
training/Datasets/MIMI_DATASET_22-16/164.wav
training/Datasets/MIMI_DATASET_22-16/165.wav
training/Datasets/MIMI_DATASET_22-16/166.wav
training/Datasets/MIMI_DATASET_22-16/167.wav
training/Datasets/MIMI_DATASET_22-16/168.wav
training/Datasets/MIMI_DATASET_22-16/169.wav
training/Datasets/MIMI_DATASET_22-16/17.wav
training/Datasets/MIMI_DATASET_22-16/170.wav
training/Datasets/MIMI_DATASET_22-16/171.wav
training/Datasets/MIMI_DATASET_22-16/172.wav
training/Datasets/MIMI_DATASET_22-16/173.wav
training/Datasets/MIMI_DATASET_22-16/174.wav
training/Datasets/MIMI_DATASET_22-16/175.wav
training/Datasets/MIMI_DATASET_22-16/176.wav
training/Datasets/MIMI_DATASET_22-16/177.wav
training/Datasets/MIMI_DATASET_22-16/178.wav
training/Datasets/MIMI_DATASET_22-16/179.wav
training/Datasets/MIMI_DATASET_22-16/18.wav
training/Datasets/MIMI_DATASET_22-16/180.wav
training/Datasets/MIMI_DATASET_22-16/181.wav
training/Datasets/MIMI_DATASET_22-16/182.wav
training/Datasets/MIMI_DATASET_22-16/183.wav
training/Datasets/MIMI_DATASET_22-16/184.wav
training/Datasets/MIMI_DATASET_22-16/185.wav
training/Datasets/MIMI_DATASET_22-16/186.wav
training/Datasets/MIMI_DATASET_22-16/187.wav
training/Datasets/MIMI_DATASET_22-16/188.wav
training/Datasets/MIMI_DATASET_22-16/189.wav
training/Datasets/MIMI_DATASET_22-16/19.wav
training/Datasets/MIMI_DATASET_22-16/191.wav
training/Datasets/MIMI_DATASET_22-16/192.wav
training/Datasets/MIMI_DATASET_22-16/193.wav
training/Datasets/MIMI_DATASET_22-16/194.wav
training/Datasets/MIMI_DATASET_22-16/195.wav
training/Datasets/MIMI_DATASET_22-16/196.wav
training/Datasets/MIMI_DATASET_22-16/197.wav
training/Datasets/MIMI_DATASET_22-16/198.wav
training/Datasets/MIMI_DATASET_22-16/199.wav
training/Datasets/MIMI_DATASET_22-16/2.wav
training/Datasets/MIMI_DATASET_22-16/20.wav
training/Datasets/MIMI_DATASET_22-16/200.wav
training/Datasets/MIMI_DATASET_22-16/201.wav
training/Datasets/MIMI_DATASET_22-16/202.wav
training/Datasets/MIMI_DATASET_22-16/203.wav
training/Datasets/MIMI_DATASET_22-16/204.wav
training/Datasets/MIMI_DATASET_22-16/205.wav
training/Datasets/MIMI_DATASET_22-16/206.wav
training/Datasets/MIMI_DATASET_22-16/207.wav
training/Datasets/MIMI_DATASET_22-16/208.wav
training/Datasets/MIMI_DATASET_22-16/209.wav
training/Datasets/MIMI_DATASET_22-16/21.wav
training/Datasets/MIMI_DATASET_22-16/210.wav
training/Datasets/MIMI_DATASET_22-16/211.wav
training/Datasets/MIMI_DATASET_22-16/212.wav
training/Datasets/MIMI_DATASET_22-16/213.wav
training/Datasets/MIMI_DATASET_22-16/214.wav
training/Datasets/MIMI_DATASET_22-16/215.wav
training/Datasets/MIMI_DATASET_22-16/216.wav
training/Datasets/MIMI_DATASET_22-16/217.wav
training/Datasets/MIMI_DATASET_22-16/218.wav
training/Datasets/MIMI_DATASET_22-16/219.wav
training/Datasets/MIMI_DATASET_22-16/22.wav
training/Datasets/MIMI_DATASET_22-16/220.wav
training/Datasets/MIMI_DATASET_22-16/221.wav
training/Datasets/MIMI_DATASET_22-16/222.wav
training/Datasets/MIMI_DATASET_22-16/223.wav
training/Datasets/MIMI_DATASET_22-16/224.wav
training/Datasets/MIMI_DATASET_22-16/225.wav
training/Datasets/MIMI_DATASET_22-16/226.wav
training/Datasets/MIMI_DATASET_22-16/227.wav
training/Datasets/MIMI_DATASET_22-16/228.wav
training/Datasets/MIMI_DATASET_22-16/229.wav
training/Datasets/MIMI_DATASET_22-16/23.wav
training/Datasets/MIMI_DATASET_22-16/230.wav
training/Datasets/MIMI_DATASET_22-16/233.wav
training/Datasets/MIMI_DATASET_22-16/234.wav
training/Datasets/MIMI_DATASET_22-16/235.wav
training/Datasets/MIMI_DATASET_22-16/236.wav
training/Datasets/MIMI_DATASET_22-16/237.wav
training/Datasets/MIMI_DATASET_22-16/238.wav
training/Datasets/MIMI_DATASET_22-16/239.wav
training/Datasets/MIMI_DATASET_22-16/24.wav
training/Datasets/MIMI_DATASET_22-16/240.wav
training/Datasets/MIMI_DATASET_22-16/241.wav
training/Datasets/MIMI_DATASET_22-16/242.wav
training/Datasets/MIMI_DATASET_22-16/243.wav
training/Datasets/MIMI_DATASET_22-16/244.wav
training/Datasets/MIMI_DATASET_22-16/245.wav
training/Datasets/MIMI_DATASET_22-16/246.wav
training/Datasets/MIMI_DATASET_22-16/247.wav
training/Datasets/MIMI_DATASET_22-16/248.wav
training/Datasets/MIMI_DATASET_22-16/249.wav
training/Datasets/MIMI_DATASET_22-16/25.wav
training/Datasets/MIMI_DATASET_22-16/250.wav
training/Datasets/MIMI_DATASET_22-16/251.wav
training/Datasets/MIMI_DATASET_22-16/252.wav
training/Datasets/MIMI_DATASET_22-16/253.wav
training/Datasets/MIMI_DATASET_22-16/254.wav
training/Datasets/MIMI_DATASET_22-16/255.wav
training/Datasets/MIMI_DATASET_22-16/256ç.wav
training/Datasets/MIMI_DATASET_22-16/257.wav
training/Datasets/MIMI_DATASET_22-16/258.wav
training/Datasets/MIMI_DATASET_22-16/259.wav
training/Datasets/MIMI_DATASET_22-16/26.wav
training/Datasets/MIMI_DATASET_22-16/260.wav
training/Datasets/MIMI_DATASET_22-16/261.wav
training/Datasets/MIMI_DATASET_22-16/262.wav
training/Datasets/MIMI_DATASET_22-16/263.wav
training/Datasets/MIMI_DATASET_22-16/264.wav
training/Datasets/MIMI_DATASET_22-16/265.wav
training/Datasets/MIMI_DATASET_22-16/266.wav
training/Datasets/MIMI_DATASET_22-16/267.wav
training/Datasets/MIMI_DATASET_22-16/268.wav
training/Datasets/MIMI_DATASET_22-16/269.wav
training/Datasets/MIMI_DATASET_22-16/270.wav
training/Datasets/MIMI_DATASET_22-16/271.wav
training/Datasets/MIMI_DATASET_22-16/272.wav
training/Datasets/MIMI_DATASET_22-16/273.wav
training/Datasets/MIMI_DATASET_22-16/274.wav
training/Datasets/MIMI_DATASET_22-16/275.wav
training/Datasets/MIMI_DATASET_22-16/276.wav
training/Datasets/MIMI_DATASET_22-16/277.wav
training/Datasets/MIMI_DATASET_22-16/278.wav
training/Datasets/MIMI_DATASET_22-16/279.wav
training/Datasets/MIMI_DATASET_22-16/28.wav
training/Datasets/MIMI_DATASET_22-16/280.wav
training/Datasets/MIMI_DATASET_22-16/281.wav
training/Datasets/MIMI_DATASET_22-16/282.wav
training/Datasets/MIMI_DATASET_22-16/283.wav
training/Datasets/MIMI_DATASET_22-16/284.wav
training/Datasets/MIMI_DATASET_22-16/285.wav
training/Datasets/MIMI_DATASET_22-16/286.wav
training/Datasets/MIMI_DATASET_22-16/287.wav
training/Datasets/MIMI_DATASET_22-16/288.wav
training/Datasets/MIMI_DATASET_22-16/289.wav
training/Datasets/MIMI_DATASET_22-16/29.wav
training/Datasets/MIMI_DATASET_22-16/290.wav
training/Datasets/MIMI_DATASET_22-16/292.wav
training/Datasets/MIMI_DATASET_22-16/293.wav
training/Datasets/MIMI_DATASET_22-16/294.wav
training/Datasets/MIMI_DATASET_22-16/295.wav
training/Datasets/MIMI_DATASET_22-16/296.wav
training/Datasets/MIMI_DATASET_22-16/297.wav
training/Datasets/MIMI_DATASET_22-16/298.wav
training/Datasets/MIMI_DATASET_22-16/299.wav
training/Datasets/MIMI_DATASET_22-16/3.wav
training/Datasets/MIMI_DATASET_22-16/30.wav
training/Datasets/MIMI_DATASET_22-16/300.wav
training/Datasets/MIMI_DATASET_22-16/301.wav
training/Datasets/MIMI_DATASET_22-16/302.wav
training/Datasets/MIMI_DATASET_22-16/303.wav
training/Datasets/MIMI_DATASET_22-16/304.wav
training/Datasets/MIMI_DATASET_22-16/305.wav
training/Datasets/MIMI_DATASET_22-16/306.wav
training/Datasets/MIMI_DATASET_22-16/307.wav
training/Datasets/MIMI_DATASET_22-16/308.wav
training/Datasets/MIMI_DATASET_22-16/309.wav
training/Datasets/MIMI_DATASET_22-16/31.wav
training/Datasets/MIMI_DATASET_22-16/310.wav
training/Datasets/MIMI_DATASET_22-16/311.wav
training/Datasets/MIMI_DATASET_22-16/312.wav
training/Datasets/MIMI_DATASET_22-16/313.wav
training/Datasets/MIMI_DATASET_22-16/32.wav
training/Datasets/MIMI_DATASET_22-16/33.wav
training/Datasets/MIMI_DATASET_22-16/34.wav
training/Datasets/MIMI_DATASET_22-16/35.wav
training/Datasets/MIMI_DATASET_22-16/36.wav
training/Datasets/MIMI_DATASET_22-16/37.wav
training/Datasets/MIMI_DATASET_22-16/39.wav
training/Datasets/MIMI_DATASET_22-16/4.wav
training/Datasets/MIMI_DATASET_22-16/40.wav
training/Datasets/MIMI_DATASET_22-16/41.wav
training/Datasets/MIMI_DATASET_22-16/42.wav
training/Datasets/MIMI_DATASET_22-16/43.wav
training/Datasets/MIMI_DATASET_22-16/44.wav
training/Datasets/MIMI_DATASET_22-16/45.wav
training/Datasets/MIMI_DATASET_22-16/46.wav
training/Datasets/MIMI_DATASET_22-16/47.wav
training/Datasets/MIMI_DATASET_22-16/48.wav
training/Datasets/MIMI_DATASET_22-16/5.wav
training/Datasets/MIMI_DATASET_22-16/50.wav
training/Datasets/MIMI_DATASET_22-16/51.wav
training/Datasets/MIMI_DATASET_22-16/52.wav
training/Datasets/MIMI_DATASET_22-16/53.wav
training/Datasets/MIMI_DATASET_22-16/54.wav
training/Datasets/MIMI_DATASET_22-16/55.wav
training/Datasets/MIMI_DATASET_22-16/56.wav
training/Datasets/MIMI_DATASET_22-16/57.wav
training/Datasets/MIMI_DATASET_22-16/58.wav
training/Datasets/MIMI_DATASET_22-16/59.wav
training/Datasets/MIMI_DATASET_22-16/6.wav
training/Datasets/MIMI_DATASET_22-16/60.wav
training/Datasets/MIMI_DATASET_22-16/61.wav
training/Datasets/MIMI_DATASET_22-16/62.wav
training/Datasets/MIMI_DATASET_22-16/63.wav
training/Datasets/MIMI_DATASET_22-16/64.wav
training/Datasets/MIMI_DATASET_22-16/65.wav
training/Datasets/MIMI_DATASET_22-16/66.wav
training/Datasets/MIMI_DATASET_22-16/67.wav
training/Datasets/MIMI_DATASET_22-16/68.wav
training/Datasets/MIMI_DATASET_22-16/69.wav
training/Datasets/MIMI_DATASET_22-16/7.wav
training/Datasets/MIMI_DATASET_22-16/71.wav
training/Datasets/MIMI_DATASET_22-16/72.wav
training/Datasets/MIMI_DATASET_22-16/73.wav
training/Datasets/MIMI_DATASET_22-16/74.wav
training/Datasets/MIMI_DATASET_22-16/75.wav
training/Datasets/MIMI_DATASET_22-16/76.wav
training/Datasets/MIMI_DATASET_22-16/77.wav
training/Datasets/MIMI_DATASET_22-16/78.wav
training/Datasets/MIMI_DATASET_22-16/79.wav
training/Datasets/MIMI_DATASET_22-16/8.wav
training/Datasets/MIMI_DATASET_22-16/80.wav
training/Datasets/MIMI_DATASET_22-16/81.wav
training/Datasets/MIMI_DATASET_22-16/82.wav
training/Datasets/MIMI_DATASET_22-16/83.wav
training/Datasets/MIMI_DATASET_22-16/85.wav
training/Datasets/MIMI_DATASET_22-16/86.wav
training/Datasets/MIMI_DATASET_22-16/87.wav
training/Datasets/MIMI_DATASET_22-16/88.wav
training/Datasets/MIMI_DATASET_22-16/89.wav
training/Datasets/MIMI_DATASET_22-16/9.wav
training/Datasets/MIMI_DATASET_22-16/90.wav
training/Datasets/MIMI_DATASET_22-16/91.wav
training/Datasets/MIMI_DATASET_22-16/92.wav
training/Datasets/MIMI_DATASET_22-16/93.wav
training/Datasets/MIMI_DATASET_22-16/94.wav
training/Datasets/MIMI_DATASET_22-16/95.wav
training/Datasets/MIMI_DATASET_22-16/96.wav
training/Datasets/MIMI_DATASET_22-16/97.wav
training/Datasets/MIMI_DATASET_22-16/98.wav
training/Datasets/MIMI_DATASET_22-16/99.wav
training/Datasets/MIMI_DATASET_22-16/metadata.csv
training/Datasets/MIMI_DATASET_22-16/valid_metadata.csv
